<ion-view title="">

	<div class="bar bar-header bar-dark">
		<h1 class="title title-left"><img class="headerlogo" src="img/logo.png" alt="logo">Bienvenido</h1>
	</div>

	<ion-content class="padding mtop">

		<div id="logo">
			<img src="img/logo.png" alt="logo">
		</div>

		<a href="#/signin" class="button button-block button-balanced">
			Inicio de sesión
		</a>

		<a href="#/signup" class="button button-block button-energized">
			Registrarse
		</a>

		<a href="#/tab/diccionario" class="button button-block button-stable">
			Iniciar como Invitado
		</a>

	</ion-content>
</ion-view>
