<ion-view title="">

	<div class="bar bar-header bar-dark">
		<h1 class="title ng-binding title-left"><img class="headerlogo" src="img/logo.png" alt="logo">Registrarse</h1>
	</div>

	<ion-content class="padding mtop">

	<div class="list">
		<form id="frm_signup">
			<label class="item item-input">
				<input type="text" placeholder="Nombre">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Apellidos">
			</label>
			<label class="item item-input">
				<input type="email" placeholder="Email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Constraseña">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Confirmar Constraseña">
			</label>
			<input type="submit" class="button button-block button-balanced" value="Enviar">
			<input type="reset" class="button button-block button-stable" value="Borrar">
		</form>

		<a href="#/signin" class="button button-small button-block button-positive">
		  Inicio de sesión
		</a>
	</div>

	</ion-content>
</ion-view>
