<!--
  This template loads for the 'tab.diccionario-detail' state (app.js)
  'diccionario' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of diccionario data
-->
<ion-view title="">

	<div class="bar bar-header bar-dark">
		<h1 class="title ng-binding title-left">{{diccionario.name}}</h1>
  		<a href="#/" class="button button-clear icon ion-close"></a>
	</div>

  <ion-content class="mtop" has-header="true" padding="true">
  {{diccionario.meaning}}
  </ion-content>
</ion-view>
